*{
    text-align: center;
    
}

button{
    background-color: red;
    font-size: 1.5em;
    border-radius: 15px;
}
#button3{
    background-color: yellow;
}
.basic{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 228, 196);
}
#advance{
    height: 300px;
}
.advance{
    width:100%;
    height:300px;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

.chatroom{
    display: flex;
    height: 500px;
    background-color: rgba(33, 243, 33, 0.274);
    flex-direction: column;

}
.input{
    display: flex;
    justify-content:flex-end;
    width: 100%;

}
.output{
    display: flex;
    flex-direction: column;
    font-size: large;
}

.soccerPlayer{
    width: 100%;
    height: 400px;
    margin: 0px;
    padding: 0px;
    background-image: url(/Decembar/cetvrtak-29-12/Assets_Football/Field.png);
    background-repeat:no-repeat;
}
.soccerPlayer:hover{
    cursor: url('/Assets_Football/Player.png');
}

.player{
    float: left;
    width: 80px;
}

