*{
    text-align: center;
    
}

button{
    background-color: red;
    font-size: 1.5em;
    border-radius: 15px;
}
#button3{
    background-color: yellow;
}
.basic{
    height: 300px;
    width: 100%;
    background-color: rgb(255, 228, 196);
}
#advance{
    height: 300px;
}
.advance{
    width:100%;
    height:300px;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

.chatroom{
    display: flex;
    height: 500px;
    background-color: rgba(33, 243, 33, 0.274);
    flex-direction: column;

}
.input{
    width: 100%;

}